* { 
    margin: 0;
    padding: 0;
}

.scr-h {
    min-height: 75dvh;
}

.nav-spc {
    margin-top: 66px;
}

.Home, .Dashboard {
    flex-grow: 1;
}

.nav-spc2 {
    margin-top: 86px;
}

.nav-img {
    height: 40px;
}

.nav-icon-spc {
    margin-left: 30px;
}

.hd-txt {
    width: 60%;
    color: gold;
    text-shadow: 3px 3px 5px black;
}

.hd-img {
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/64aceb40d0ea591fa2edfb01/0x0.jpg?format=jpg&width=1200");
    opacity: 1;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.td-none {
    text-decoration: none;
}

.pz-li {
    transform: rotate(-65deg);
    margin-right: 5px;
}

ul {
    list-style-type: none;
}

.cust-card {
    display: flex;
    align-items: center;
    border: solid 1px #0000002d;
    border-radius: 0.375rem;
    padding: 8px;
}

.card-img {
    max-width: 280px;
    max-height: 280px;
}

.card-img-cont {
    width: 280px;
    height: 280px;
}

.cart-img {
    width: auto;
    height: 50px;
}

.badge-pos {
    position: relative;
    right:8px;
    top:-12px;
}

.txt-violet {
    color: blueviolet;
}

footer {
    background-color: #6c757d;
    color: darkgrey;
}

a {
    color: darkgrey;
}

#tooltip-gz > .tooltip-inner {
    background-color: #6c757d;
}

.active {
    color: gold;
    text-decoration: none;
}

.dashboard-style {
    margin-top: 66px;
    color:gold;
    background-color: #3f4041;
}

.dn {
    display: none;
}